.circle {
  height: 30px;
  width: 30px;
  font-size: 25px;
  font-weight: 700;
  border-radius: 100%;
  color: #929191;
  line-height: 17px;
  &__big {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: '';
      background-size: contain;
      width: 12px;
      height: 12px;
      opacity: 0.7;
    }
  }
  &_gray {
    background: $grey-color;
  }
  &_yellow {
    background: $yellow-color;
    &::before {
      background-image: url(../icons/chat.svg);
    }
  }
  &_blue {
    background: #e3efff;
    &::before {
      background-image: url(../icons/download_icon.svg);
    }
  }
  &_green {
    background: #cef9c6;
    &::before {
      background-image: url(../icons/done_icon.svg);
    }
  }
  &__oval {
    width: 67px;
    height: 30px;
    border-radius: 15px;
    line-height: 28px;
    &_grey {
      color: $black-color;
      background: $grey-color;
    }
    &_yellow {
      width: 81px;
      background: $yellow-color;
      color: #ffc200;
      &::before {
        display: inline-block;
        content: '';
        width: 12px;
        height: 12px;
        background-image: url(../icons/Combined_Shape@1x.svg);
        background-size: contain;
      }
    }
  }
}
